# -e ../pycore
-e git://github.com/vrthra/pycore.git@master#egg=pycore
# -e ../taintedstr
-e git://github.com/vrthra/taintedstr.git@comparisons#egg=taintedstr
# -e ../pychains
-e git://github.com/vrthra/pychains.git@comparisons#egg=pychains
coverage==4.5.1
